/* css/styles.css of 2026-11-nov making 2026-nov.bauska.org */
/* was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; */
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-nov.bauska.org/images/mst3k-brute-man-rondo-600x300.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* pure (or mostly pure) yellow */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

/* World, National & International Days */
.natl-author {
    background-color:#ff4d4d;  /* light red */
}
.daylight-savings-end {
    background-color:#ffdb9a;  /* pale orange */
}
.natl-sandwich {
    background-color:#ff9a9a;  /* pale red */
}
.election {
    background-color:#9ab3ff;  /* pale blue */
}
.natl-redhead {
    background-color:#98fb98;  /* very soft lime green */
}
.natl-stem {
    background-color:#a6f4ff;  /* pale cyan */
}
.veterans {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-pickle {
    background-color:#ffff9a;  /* pale yellow */
}
.recycles {
    background-color:#d3d3d3;  /* light gray */
}
.natl-fastfood {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-takeahike {
    background-color:#ff68ff;  /* very light magenta */
}
.world-toilet {
    background-color:#ccff9a;  /* pale green */
}
.smokeout {
    background-color:#ffef9a;  /* pale yellow */
}
.natl-stuffing {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-espresso {
    background-color:#ba9ce8;  /* very soft violet */
}
.natl-cake {
    background-color:#89ffff;  /* very light cyan */
}
.thanksgiving {
    background-color:#ff7e6d;  /* very light red */
}
.black-friday {
    background-color:#afffad;  /* pale lime green */
}
