<!-- css/styles.css of 2026-nov.bauska.org -->
body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-nov.bauska.org/images/mst3k-brute-man-rondo-600x300.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* yellow */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.natl-author {
    background-color:#ff4d4d;  /* light red */
}
.daylight-savings-end {
    background-color:#ffdb9a;  /* pale orange */
}
.natl-sandwich {
    background-color:#ff9a9a;  /* pale red */
}
.election {
    background-color:#9ab3ff;  /* pale blue */
}
.natl-redhead {
    background-color:#98fb98;  /* very soft lime green */
}
.natl-stem {
    background-color:#a6f4ff;  /* pale cyan */
}
.veterans {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-pickle {
    background-color:#ffff9a;  /* pale yellow */
}
.recycles {
    background-color:#d3d3d3;  /* light gray */
}
.natl-fastfood {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-takeahike {
    background-color:#ff68ff;  /* very light magenta */
}
.world-toilet {
    background-color:#ccff9a;  /* pale green */
}
.smokeout {
    background-color:#ffef9a;  /* pale yellow */
}
.natl-stuffing {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-espresso {
    background-color:#ba9ce8;  /* very soft violet */
}
.natl-cake {
    background-color:#89ffff;  /* very light cyan */
}
.thanksgiving {
    background-color:#ff7e6d;  /* very light red */
}
.black-friday {
    background-color:#afffad;  /* pale lime green */
}
